lab2/config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Settings">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="SourcePath"/>
				<xs:element type="xs:string" name="TargetPath"/>
				<xs:element type="xs:string" name="LogsPath"/>
				<xs:element type="xs:string" name="ExeptionsLogPath"/>
				<xs:element type="xs:string" name ="NeedToEncrypt"/>
				<xs:element type="xs:string" name="NeedToArchive"/>
				<xs:element type="xs:string" name="ArchivePath"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>