lab3/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="config"
    targetNamespace="http://tempuri.org/config.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/config.xsd"
    xmlns:mstns="http://tempuri.org/config.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
           
 >
  <xs:element name="opt">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SourceDirectory" type="xs:string" />
        <xs:element name="TargetDirectory" type="xs:string" />
        <xs:element name="LogDirectory" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>